<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div>
        <h1>hello this is the main page of the website</h1>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">register</a></li>
        </ul>
        <div>
            <h2>exsisting users: </h2>
            <ul>
                <% users.forEach(user => { %>
                    <li>
                        email: <%= user.email %>
                        <br>
                        password: <%= user.password %>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</body>
</html>