<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>welcome back, here is your private cabinet</h1>
        <p>your email: <%= user.email %></p>
        <p>your pasword: <%= user.password %></p>
    </div>
    <div class="home">
        <a href="/">back to home</a>
    </div>
</body>
</html>