<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    
    <div>
        <h1>hi, this is the register page</h1>
        <form action="/register" method="post">
            <section>
                <label for="">email: </label>
                <input type="text" name="email" placeholder="enter your email">
            </section>
            <section>
                <label for="">password: </label>
                <input type="password" name="password" placeholder="enter your passwrod">
            </section>
            <section>
                <label for="">re enter password: </label>
                <input type="password" placeholder="re enter your password">
            </section>
            <button type="submit">register</button>
        </form>
        <div class="home">
            <a href="/"> â† back</a>
        </div>
    </div>

</body>
</html>