<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>congrats you are registered now</h1>
        <p>your Email: <%= newUser.email %></p>
        <p>your password: <%= newUser.password %></p>
        <div class="home">
            <a href="/">back to home</a>
        </div>
    </div>
</body>
</html>